{% extends 'base2.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2><b>Result Page</b></h2>
{% block content %}
{% for r in myresult %}

<div>
    <h2><a href="">Name : {{r.Roll_no}}</a></h2>
</div>

<div>
    <p>Result ID : {{r.Rid}}</p>
    <p>Grade : {{r.grade}}</p>
    <p>Subject : {{r.sub1}} => Marks : {{r.marks1}}</p>
    <p>Subject : {{r.sub2}} => Marks : {{r.marks2}}</p>
    <p>Subject : {{r.sub3}} => Marks : {{r.marks3}}</p>

</div>

{% endfor %}
{% endblock content %}
</body>
</html>

